.contact_form {
    margin-left: 10%;
    width: 50%;
    float: left;
    color: navy;
    margin-top: 50px;
    margin-bottom: 50px;
}

.contact_form form {
    width: 20%;
}

.ad {
    float: left;
    margin-left: 10000px;
}

.contact_form .button {
    margin-left: 100px;
    background-color: navy;
    padding: 5px 20px 5px;
    color: white;
}

.contact_form .button:hover {
    background-color: white;
    color: navy;
}

@media only screen and (min-width:150px) and (max-width:680px) {
    .contact_form {
        margin-left: 10%;
        width: 50%;
        float: left;
        color: navy;
        margin-top: 50px;
        margin-bottom: 50px;
        text-align: center;
        clear: left;
        display: block;
    }
    .contact_form form {
        width: 100%;
    }
    .contact_form .button {
        margin-left: 0px;
        background-color: navy;
        padding: 5px 20px 5px;
        color: white;
    }
    .ad {
        clear: left;
    }
}