body {
    width: 100%;
    margin: 10px;
    font-size: 18px;
}

form {
    margin-left: 40%;
}

.field {
    width: 300px;
}


/* Outer */


/* The actual popup */

@media screen and (max-width:680px) {}

@media screen and (min-width:150px) {}