.article-img img {
    width: 100%;
    height: 350px;
    margin-left: 5%;
    margin-top: 5%;
}

.art-auth img {
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -o-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    width: 50px;
    float: left;
}

.art-auth p {
    margin-left: 15px;
}

.detail-container h4 {
    text-align: center;
    margin-top: -25px;
}

.art-content {
    text-align: left;
    margin-left: 10%;
    margin-right: 10%;
}

.art-auth {
    margin-left: 10%;
    margin-bottom: 10px;
}

.art-publish {
    margin-left: 70%;
}

.detail-container {
    background-color: white;
    width: 55%;
    margin-left: 5%;
    margin-top: 2%;
    margin-bottom: 2%;
    border-radius: 10px;
    padding-right: 5%;
    float: left;
}

.ad {
    float: left;
    width: 30%;
    background-color: black;
    margin-top: 5%;
    margin-left: 8%;
}

.art-publish {
    margin-left: 20%;
}

@media only screen and(min-width:150px) and (max-width:680px) {
    .detail-container {
        background-color: white;
        width: 100%;
        margin-left: 0px;
        clear: left;
    }
    .ad {
        clear: left;
    }
}

@media screen and (max-width:680px) {
    .article-img img {
        height: 150px;
        margin-left: 10px;
    }
    .art-publish {
        margin-left: 70px;
        width: 60%;
    }
    .detail-container {
        background-color: white;
        width: 100%;
        margin-left: 0px;
        clear: left;
    }
    .ad {
        clear: left;
        width: 80%;
    }
}