.footer1 {
    margin-bottom: 0px;
}

.footer {
    float: left;
    background: rgba(0, 0, 150, 0.9);
    height: auto;
    width: 100%;
}

.section {
    float: left;
    padding: 10px 5px 1px;
    color: white;
    margin-left: 5%;
}

.section ul li {
    list-style: none;
    text-align: center;
}

.section ul a:link {
    text-decoration: none;
}

.section ul li a {
    color: white;
}

.section ul li a:hover {
    color: black;
}

.section ul h4 a {
    color: white;
}

.section ul h4 a:hover {
    color: black;
}


/* for displaying news */

.news {
    width: 100%;
    background-color: white;
    height: 400px;
    margin-top: 30px;
    margin-bottom: 30px;
    clear: left;
    box-shadow: 8px 8px 8px rgba(0, 0, 150, 0.4);
    -webkit-box-shadow: 8px 8px 8px rgba(0, 0, 150, 0.4);
    -ms-box-shadow: 8px 8px 8px rgba(0, 0, 150, 0.4);
    -moz-box-shadow: 8px 8px 8px rgba(0, 0, 150, 0.4);
    -o-box-shadow: 8px 8px 8px rgba(0, 0, 150, 0.4);
    z-index: 100%;
}

@media only screen and (min-width:150px) and (max-width:680px) {
    .footer1 {
        width: 100%;
        margin-left: 0px;
        margin-bottom: 0px;
    }
    .news {
        margin-bottom: 20px;
        border-width: 0px;
        width: 100%;
    }
    .section {
        margin-left: 10%;
    }
}