                .body {
                    font: 16px/1.5 'Raleway', Arial, sans-serif;
                    margin: 0;
                    padding: 0;
                    background-color: rgba(0, 0, 128, 0.15);
                }
                
                header {
                    height: 690px;
                    background-image: url('../images/back1.jpg');
                    -webkit-background-repeat: no-repeat;
                    -ms-background-repeat: no-repeat;
                    -moz-background-repeat: no-repeat;
                    -o-background-repeat: no-repeat;
                    background-repeat: no-repeat;
                    background-attachment: fixed;
                    -webkit-background-attachment: fixed;
                    -moz-background-attachment: fixed;
                    -o-background-attachment: fixed;
                    -ms-background-attachment: fixed;
                    margin-top: -10px;
                    max-width: auto;
                    -webkit-background-size: cover;
                    -moz-background-size: cover;
                    -o-background-size: cover;
                    background-size: cover;
                    background-position: center
                }
                /* this style affects display on the header*/
                
                .unkown {
                    width: 60%;
                    background-color: rgba(0, 0, 128, 0.4);
                    height: 400px;
                    margin-top: 8%;
                    margin-left: 20%;
                    border-radius: 10%;
                    -webkit-border-radius: 10%;
                    -o-border-radius: 10%;
                    color: white;
                    font-weight: bold;
                    box-shadow: 5px 10px 10px rgba(0, 0, 150, 0.5);
                    -webkit-box-shadow: 5px 10px 10px rgba(0, 0, 150, 0.5);
                    -moz-box-shadow: 5px 10px 10px rgba(0, 0, 150, 0.5);
                    -o-box-shadow: 5px 10px 10px rgba(0, 0, 150, 0.5);
                }
                
                .one a button {
                    color: white;
                    background-color: rgba(0, 0, 128, 0.4);
                    padding: 5px 5px 5px;
                }
                /* this style affects display on the header*/
                
                .one .button {
                    float: left;
                    padding-left: 10px;
                    background-color: rgba(255, 255, 255, 0.7);
                    padding: 2px;
                    border-radius: 5px;
                    -webkit-border-radius: 5px;
                    -o-border-radius: 5px;
                    -ms-border-radius: 5px;
                }
                
                a button:hover {
                    background-color: rgba(0, 0, 128, 0.9);
                }
                
                .two {
                    margin-top: 20px;
                }
                /* this style affects display on the header*/
                
                .one {
                    margin-left: 35%;
                    margin-top: -30px;
                }
                /* this style affects display on the header*/
                
                .unkown p {
                    text-align: center;
                    font-size: 16px;
                    line-height: 90%;
                }
                
                .sheild {
                    margin-top: -10px;
                    width: 100%;
                    background-color: rgba(0, 0, 128, 0.02);
                    height: 100%;
                }
                
                .pre {
                    padding-top: 20px;
                }
                /* Remove margins and padding from the list, and add a black background color */
                
                @media only screen and (min-width:150px) and (max-width:680px) {
                    .unkown {
                        width: 90%;
                        height: auto;
                        margin-top: 1%;
                        margin-left: 5%;
                        margin-bottom: 10%;
                        padding-bottom: 20px;
                        box-shadow: 1px 1px 1px rgba(0, 0, 150, 0.5);
                        -webkit-box-shadow: 1px 1px 1px rgba(0, 0, 150, 0.5);
                        -moz-box-shadow: 1px 1px 1px rgba(0, 0, 150, 0.5);
                        -o-box-shadow: 1px 1px 1px rgba(0, 0, 150, 0.5);
                    }
                    .unkown p {
                        text-align: center;
                        font-size: 12px;
                        line-height: 90%;
                    }
                    header {
                        height: 450px;
                    }
                }