ul.topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgba(0, 0, 128, 0.9);
    height: 60px;
    z-index: 1000;
}

ul.topnav {
    border-top-style: solid;
    border-bottom-style: solid;
    border-width: 1px;
    border-color: white;
}

ul.topnav li {
    float: left;
    padding: 2px 2px 2px;
    border-left-style: solid;
    border-right-style: solid;
    border-color: rgba(0, 0, 128, 0.9);
    border-width: 1px;
    margin-left: 20px;
}

ul.topnav li:hover {
    border-left-style: solid;
    border-right-style: solid;
    border-color: white;
}


/* side bar  menu*/

.bottomsidebar ul {
    list-style-type: none;
    margin-top: 19px;
    text-align: center;
    text-decoration-line: underline;
}

.bottomsidebar ul li a {
    text-decoration: none;
    width: 100%;
    font-size: 18px;
    text-align: center;
}


/* SIde bar menu close*/

ul.topnav li a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 30px 30px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 17px;
}

ul.topnav li a:hover {
    background-color: blue;
    color: black;
}

.main-nav li .selected a {
    background-color: white;
    color: black;
}


/* for the sticker menu at the top*/

ul.topnav li.icon {
    display: none;
}

.account {
    margin-left: auto;
}

@media screen and (max-width:680px) {
    ul.topnav li:not(:first-child) {
        display: none;
    }
    ul.topnav li.icon {
        float: right;
        display: inline-block;
    }
    ul.topnav li:hover {
        border-left-style: none;
        border-right-style: none;
    }
    ul.topnav li {
        border-left-style: none;
        border-right-style: none;
    }
    ul.topnav {
        height: auto;
    }
    .account {
        margin-left: 0%;
    }
}

.topnav {
    border-top-style: none;
    border-bottom-style: none;
}

.topnav {
    border-top-style: none;
    border-bottom-style: none;
}

nav.main-nav.stickytop {
    position: fixed;
    top: 0;
}

nav.main-nav.stickytop {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

@media screen and (max-width:680px) {
    ul.topnav.responsive {
        position: relative;
    }
    ul.topnav.responsive li.icon {
        position: absolute;
        right: 0;
        top: 0;
    }
    ul.topnav.responsive li {
        float: none;
        display: inline;
    }
    ul.topnav.responsive li a {
        display: block;
        text-align: center;
    }
}