/* Rotating earth animation */


/* Rotating earth animation  ends*/


/* SLide show */

.carousel-inner>.item>p,
.carousel-inner>.item>a>p {
    width: 70%;
    margin: auto;
    font-size: 54px;
    font-weight: bold;
    color: white;
}

.maincontent2 {
    margin-top: -40px;
    width: 60%;
    float: left;
    text-align: center;
    height: auto;
    margin-left: 5%;
    margin-right: 2%;
    -moz-border: 3px solid;
    -ms-border: 3px solid;
    border: 3px solid;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    clear: both;
    overflow: hidden;
    overflow-x: hidden;
}

#maincontain p {
    font-size: 16px;
}

.bottomcontent {
    margin: 5%;
    background-color: ghostwhite;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    padding: 2% 3%;
}


/*closing the main content*/


/* left side navigation*/


/*Video of Africa Youtube*/

.video iframe,
.video object,
.video embed {
    position: relative;
    width: 100%;
    height: 400px;
}


/* for grid view/columns)*/

.bar {
    text-overflow: inherit;
    overflow: hidden;
    background-color: black;
}


/* for grid view/columns)*/

.bar1 {
    width: 180px;
}

.para p {
    text-align: center;
    margin-left: -10%;
}

@media only screen and (min-width:150px) and (max-width:600px) {
    .video iframe,
    .video object,
    .video embed {
        position: relative;
    }
    #img-pro {
        width: 100%;
        height: auto;
    }
    .info h4 {
        margin-left: 5%;
    }
    .info p {
        margin-left: 5%;
    }
    .body {
        margin: 0 auto;
        /* centers the content*/
        width: 100%;
        clear: both;
        /* make it possible for not having and right floating  in the containner" */
    }
    /* collaps button bellow header*/
    .collaps-info {
        margin-bottom: 10px;
        margin-right: 0px;
        background-color: black;
        width: 100%;
        display: block;
    }
    .design {
        width: auto;
        background-color: white;
        border-color: white;
    }
    /* who we are pictures*/
    /* header slide show*/
    .carousel-inner>.item>p,
    .carousel-inner>.item>a>p {
        width: 100%;
        height: 15%;
        margin-top: auto;
        font-size: 23px;
        color: white;
    }
    .mainfooter {
        margin-top: 10%;
        width: 90%;
    }
    .mainheader nav {
        width: 100%;
        height: 245px;
    }
    .mainheader nav ul {
        /* the style */
        padding-left: 0;
        margin-left: 0px;
    }
    .mainheader nav ul li {
        width: 100%;
        margin: 0 auto;
        text-align: center;
        margin-right: 0px;
        margin-top: 5px;
    }
    .mainheader nav a:link,
    .mainheader nav a:visited {
        display: block;
        /* displays the hover in block on small screen*/
        padding: 1px 9px 20px;
    }
    /*main content */
    .maincontent {
        width: 95%;
        margin-top: 15%;
        border: none;
        margin-left: 1%;
    }
    .maincontent2 {
        width: 95%;
        margin-top: 15%;
        border: none;
        margin-left: 1%;
    }
    nav profile {
        display: block;
    }
    /* contianer for right nav*/
    .rightsidebar {
        text-align: center;
        width: 100%;
        margin-left: 1%;
    }
    .topsidebar {
        text-align: center;
        width: 100%;
        margin-left: 1%;
    }
    .bottomsidebar2 {
        text-align: center;
        width: 100%;
        margin-left: 1%;
        margin-top: 10px;
    }
    .bottomsidebar3 {
        text-align: center;
        width: 80%;
        margin-left: 8%;
    }
    .bar1 img {
        width: 150px;
        margin-left: 30px;
        margin-top: 5%;
        margin-left: 18%;
    }
    .bar1 {
        width: 80%;
    }
    /* content of the side bar pictures*/
    .para p {
        margin-left: 15%;
    }
    .news {
        width: 100%;
    }
    .video iframe,
    .video object,
    .video embed {
        position: relative;
        width: 90%;
        height: 200px;
    }
    body {
        width: 100%;
    }
}