 {% load staticfiles %}

<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="{% static 'css/contact_us.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.2/modernizr.js"></script>


    <meta charset="UTF-8">
    <title>Contact_us</title>
</head>


<body class="body">

    <div class="contact_form">
        <form action="" method="post" enctype="multipart/form-data">
            {% csrf_token %} {% for field in form %}


            <table>
                <ul>
                    <div class="field">
                        {{ field.errors }}
                        <div class="field">

                            <li><label>{{ field.label_tag }} </label></li>
                        </div>
                        <div class="field">
                            <li>{{ field }}</li>
                        </div>


                </ul>

                {% endfor %}
                <button type="submit" class="button">submit</button>
            </table>
            </div>
        </form>
        <div class="circle">
            <div class="circle1">


            </div>

            <p class="p">For anything related to product Marketing please contact us.
            </p>
            <div>
                <p class="p1"> Do you want to contact us:<span class="no" title="exit"><a class="" href="{% url 'success:home' %}"><button>No?</button></a></span> </p>
            </div>
        </div>
</body>

</html>