 {% extends 'success/base1.html' %}{% load staticfiles %}{% block content %}




<!-- You tube video-->


<div class="back">
    <div class="login " id="important">
        <aside class="bottomsidebar2 login  ">
            <article>
                <title>INVESTING IN AFRICA AND SOUTH AMERICA</title>
                <content>

                    <div class="row raw1">


                        <div class="bar1">
                            <a href=""> <img class="img" src="{% static 'images/tourism.jpg' %} " alt="Wild Live"></a>

                        </div>
                    </div>

                    <div class="login_form">"
                        <h4>BusinessOpportunist</h4>
                        <form method="post">
                            {% csrf_token %}
                            <div class="input_form">{{ form.as_p}}</div>
                            <button class="btn" type="submit">Login</button>
                        </form>
                        <div class="creat_account">
                            <a href="{% url 'success:register' %}"><button> CreateAccount</button></a></div>
                    </div>
                    <div class="creat_account">
                        <a href=""> <button>  passwordreset</button></a>

                    </div>
    </div>
</div>
</content>
</article>
</aside>

</div>{% endblock content %}