{% load staticfiles %}
<!doctype html>
<html lang="en" class="no-js">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href='http://fonts.googleapis.com/css?family=PT+Sans:400,700' rel='stylesheet' type='text/css'>

    <link rel="stylesheet" href="{% static 'css/profile_account.css'%}">
    <link rel="stylesheet" href="{% static 'css/reset.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script src="{% static 'script/modernizr.js' %}">
    </script>
    <!-- Modernizr -->

    <title> Buisness in Africa | Gogetter</title>
    <script>
        function openNav() {
            document.getElementById("mySidenav").style.width = "250px";
            document.getElementById("main").style.marginLeft = "250px";

        }

        function closeNav() {
            document.getElementById("mySidenav").style.width = "0";
            document.getElementById("main").style.marginLeft = "0";

        }
    </script>
</head>

<body>

    <div id="mySidenav" class="sidenav">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        <a href="{% url 'success:home' %}">Home</a>
        <a href="#0">Profile</a>
        <a href="#">View</a>
        <a href="#0">Highlights</a>
        <a href="#0">OnlineMarket</a>


        <a href="{% url 'success:logout' %}">Logout</a>
    </div>

    <div id="main">
        <span class="menu" style="font-size:30px;cursor:pointer" onclick="openNav()">MENU</span>

        <div class="cd-tabs">

            <nav>
                <ul class="cd-tabs-navigation">
                    <li><a data-content="businesmagnet" class="selected" href="#0">Buzy</a></li>
                    <li><a data-content="distributors" href="#0">Distribute</a></li>

                    <li><a data-content="Deals" href="#0">Deals</a></li>

                    <li><a data-content="OnlineMarket" href="#0">Market</a></li>
                    <li><a data-content="Promote" href="#0">Promote</a></li>
                    <li><a data-content="settings" href="#0">Settings</a></li>
                    <li><a data-content="Opportunities" href="#0">View</a></li>

                    <li>
                        <a data-content="empty" href="#0">Info</a>
                    </li>
                </ul>
                <!-- cd-tabs-navigation -->
            </nav>

            <ul class="cd-tabs-content">
                <li data-content="businesmagnet" class="selected">
                    <p>Inbox Lorem ipsum dolor sit amet, consectetur adipisicing elit. Earum recusandae rem animi accusamus quisquam reprehenderit sed voluptates, numquam, quibusdam velit dolores repellendus tempora corrupti accusantium obcaecati voluptate
                        totam eveniet laboriosam?</p>

                    <p>Inbox Lorem ipsum dolor sit amet, consectetur adipisicing elit. Earum recusandae rem animi accusamus quisquam reprehenderit sed voluptates, numquam, quibusdam velit dolores repellendus tempora corrupti accusantium obcaecati voluptate
                        totam eveniet laboriosam?</p>
                </li>

                <li data-content="distributors">
                    <p>New Lorem ipsum dolor sit amet, consectetur adipisicing elit. Non a voluptatibus, ex odit totam cumque nihil eos asperiores ea, labore rerum. Doloribus tenetur quae impedit adipisci, laborum dolorum eaque ratione quaerat, eos dicta
                        consequuntur atque ex facere voluptate cupiditate incidunt.</p>

                    <p>New Lorem ipsum dolor sit amet, consectetur adipisicing elit. Non a voluptatibus, ex odit totam cumque nihil eos asperiores ea, labore rerum. Doloribus tenetur quae impedit adipisci, laborum dolorum eaque ratione quaerat, eos dicta
                        consequuntur atque ex facere voluptate cupiditate incidunt.</p>
                </li>

                <li data-content="Opportunities">
                    <p>Gallery Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque tenetur aut, cupiditate, libero eius rerum incidunt dolorem quo in officia.</p>

                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A ipsa vero, culpa doloremque voluptatum consectetur mollitia, atque expedita unde excepturi id, molestias maiores delectus quos molestiae. Ab iure provident adipisci eveniet
                        quisquam ratione libero nam inventore error pariatur optio facilis assumenda sint atque cumque, omnis perspiciatis. Maxime minus quam voluptatum provident aliquam voluptatibus vel rerum. Soluta nulla tempora aspernatur maiores!
                        Animi accusamus officiis neque exercitationem dolore ipsum maiores delectus asperiores reprehenderit pariatur placeat, quaerat sed illum optio qui enim odio temporibus, nulla nihil nemo quod dicta consectetur obcaecati vel. Perspiciatis
                        animi corrupti quidem fugit deleniti, atque mollitia labore excepturi ut.</p>
                </li>

                <li data-content="Deals">
                    <p>Store Lorem ipsum dolor sit amet, consectetur adipisicing elit. Earum recusandae rem animi accusamus quisquam reprehenderit sed voluptates, numquam, quibusdam velit dolores repellendus tempora corrupti accusantium obcaecati voluptate
                        totam eveniet laboriosam?</p>

                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi, enim, pariatur. Ab assumenda, accusantium! Consequatur magni placeat quae eos dicta, cum expedita sunt facilis est impedit possimus dolorum sequi nostrum nobis sit
                        praesentium molestias nulla laudantium fugit corporis nam ut saepe harum ipsam? Debitis accusantium, omnis repudiandae modi, distinctio illo voluptatibus aperiam odio veritatis, quam perferendis eaque ullam. Temporibus tempore
                        ad voluptates explicabo ea sit deleniti ipsum quos dolores tempora odio, ab corporis molestiae, eaque optio, perferendis! Cumque libero quia modi! Totam magni rerum id iusto explicabo distinctio, magnam, labore sed nemo expedita
                        velit quam, perspiciatis non temporibus sit minus voluptatum. Iste, cumque sunt suscipit facere iusto asperiores, ullam dolorum excepturi quidem ea quibusdam deserunt illo. Nesciunt voluptates repellat ipsam.</p>
                </li>

                <li data-content="settings">
                    <p>Settings Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laboriosam nam magni, ullam nihil a suscipit, ex blanditiis, adipisci tempore deserunt maiores. Nostrum officia, ratione enim eaque nihil quis ea, officiis iusto repellendus.
                        Animi illo in hic, maxime deserunt unde atque a nesciunt? Non odio quidem deserunt animi quod impedit nam, voluptates eum, voluptate consequuntur sit vel, et exercitationem sint atque dolores libero dolorem accusamus ratione iste
                        tenetur possimus excepturi. Accusamus vero, dignissimos beatae tempore mollitia officia voluptate quam animi vitae.</p>

                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Similique ipsam eum reprehenderit minima at sapiente ad ipsum animi doloremque blanditiis unde omnis, velit molestiae voluptas placeat qui provident ab facilis.</p>
                </li>


                <li data-content="empty">
                    <h4> Your Success Is Our Priority </h4>
                    <p>By using Gogetters platform ,you are subjected to follow the rules and policy governing this platform ,to ensure safe and secure business deals and relationship between you ,and Gogetters and the third party.Our platform is completely
                        free to use .We will ensure your needs are taken care of.As per your need ,gogetters will do the hard work for you to scale up your business. </p>
                    <p> For safe business environment .Gogetters will follow up and do a propal investication before any business deal commence between you ,and Gogetters and the thirt Party </p>
                </li>
                <li data-content="Promote">
                    <h4> Your Success Is Our Priority </h4>
                    <p>By using Gogetters platform ,you are subjected to follow the rules and policy governing this platform ,to ensure safe and secure business deals and relationship between you ,and Gogetters and the third party.Our platform is completely
                        free to use .We will ensure your needs are taken care of.As per your need ,gogetters will do the hard work for you to scale up your business. </p>
                    <p> For safe business environment .Gogetters will follow up and do a propal investication before any business deal commence between you ,and Gogetters and the thirt Party </p>
                </li>
                <li data-content="OnlineMarket">
                    <h4> Your Success Is Our Priority </h4>
                    <p>By using Gogetters platform ,you are subjected to follow the rules and policy governing this platform ,to ensure safe and secure business deals and relationship between you ,and Gogetters and the third party.Our platform is completely
                        free to use .We will ensure your needs are taken care of.As per your need ,gogetters will do the hard work for you to scale up your business. </p>
                    <p> For safe business environment .Gogetters will follow up and do a propal investication before any business deal commence between you ,and Gogetters and the thirt Party </p>
                </li>
            </ul>
            <!-- cd-tabs-content -->
        </div>
        <!-- cd-tabs -->
        <script src="{% static 'script/jquery-2.1.1.js' %}">
        </script>
        <script src="{% static 'script/main.js' %}">
        </script>

        <!-- Resource jQuery -->
</body>

</html>