{% load staticfiles %}
<!doctype html>
<html lang="en" class="no-js">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href='http://fonts.googleapis.com/css?family=PT+Sans:400,700' rel='stylesheet' type='text/css'>

    <link rel="stylesheet" href="{% static 'css/profile_account.css'%}">
    <link rel="stylesheet" href="{% static 'css/reset.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script src="{% static 'script/modernizr.js' %}">
    </script>
    <!-- Modernizr -->

    <title> Buisness in Africa | Gogetter</title>
    <script>
        function openNav() {
            document.getElementById("mySidenav").style.width = "250px";
            document.getElementById("main").style.marginLeft = "250px";

        }

        function closeNav() {
            document.getElementById("mySidenav").style.width = "0";
            document.getElementById("main").style.marginLeft = "0";

        }
    </script>
</head>

<body>

    <div id="mySidenav" class="sidenav">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        <a href="{% url 'success:home' %}">Home</a>
        <a href="#0">Profile</a>
        <a href="#">UpDates</a>
        <a href="#0">Highlights</a>
        <a href="#0">OnlineMarket</a>


        <a href="{% url 'success:logout' %}">Logout</a>
    </div>

    <div id="main">
        <span class="menu" style="font-size:30px;cursor:pointer" onclick="openNav()">MENU</span>



        <div class="cd-tabs">

            <nav>
                <ul class="cd-tabs-navigation">
                    <li><a data-content="businesmagnet" class="selected" href="#0">Buzy</a></li>
                    <li><a data-content="distributors" href="#0">Distribute</a></li>

                    <li><a data-content="Deals" href="#0">Deals</a></li>

                    <li><a data-content="OnlineMarket" href="#0">Market</a></li>
                    <li><a data-content="Promote" href="#0">Promote</a></li>
                    <li><a data-content="settings" href="#0">WhoYouAre</a></li>
                    <li><a data-content="Opportunities" href="#0">UpDates</a></li>

                    <li>
                        <a data-content="empty" href="#0">Info</a>
                    </li>
                </ul>
                <!-- cd-tabs-navigation -->
            </nav>

            <ul class="cd-tabs-content">
                <li data-content="businesmagnet" class="selected">
                    <h4>Search For Product Distributors </h4>

                </li>

                <li data-content="distributors">
                    <h4> Become A Product Distributor</h4>
                </li>

                <li data-content="Opportunities">
                    <h4> News Feed</h4>
                </li>

                <li data-content="Deals">
                    <h4> Your Successful Deals will Show here</h4>
                </li>

                <li data-content="settings">
                    <h4>Personal Info Required</h4>
                    <form action="/user/user_profile" method="POST">{% csrf_token %} {% for field in form %} {{ field.errors }} {% endfor %} {{ form.bio }}
                        <input type="submit" value="Update" />
                    </form>
                </li>


                <li data-content="empty">
                    <h4> Your Success Is Our Priority </h4>
                    <p>By using Gogetters platform ,you are subjected to follow the rules and policy governing this platform ,to ensure safe and secure business deals and relationship between you ,and Gogetters and the third party.Our platform is completely
                        free to use .We will ensure your needs are taken care of.As per your need ,gogetters will do the hard work for you to scale up your business. </p>
                    <p> For safe business environment .Gogetters will follow up and do a propal investication before any business deal commence between you ,and Gogetters and the thirt Party </p>
                </li>
                <li data-content="Promote">
                    <h4> Advitise Your Business or Products With Us</h4>
                    <li data-content="OnlineMarket">
                        <h4>Sell Your Products Directly with Our OnlineMarket</h4>
                    </li>
            </ul>
            <!-- cd-tabs-content -->
        </div>
        <!-- cd-tabs -->
        <script src="{% static 'script/jquery-2.1.1.js' %}">
        </script>
        <script src="{% static 'script/main.js' %}">
        </script>

        <!-- Resource jQuery -->
</body>

</html>