 {% extends 'success/base1.html' %}{% block content %} {% load staticfiles %}


<article>
    <div class="security" id="important">
        <title>Business working || Investors and StartUps</title>
        <content>
            <h4> Contact:+91 972-789-4661
            </h4>
            <p> We are very much open to partner with major African and world orgnizations ,with interest to impact Africa.Improving business relationships between Africans and the rest of the world.Business Security is one of Africa's major problem.We are
                keen in contributing in solving this problem .And also to support African Entrepreneurs with the resources they might need to get their business expanded home and Abroad.We look for Creativity and innovation ,that will improve lives and
                also providing jobs.</p>


        </content>
    </div>

    <div class=" ad ">
        <p>google add here</p>
    </div>
</article>



{% endblock content %}