{% load staticfiles %}

<!DOCTYPE html>
<html>
<title>Babaco African leaind investment firm</title>

<head>
    <meta charset="utf-8">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'css/about_us.css' %}">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.2/modernizr.js"></script>
</head>
<script>
    function myFunction() {
        var x = document.getElementById("myTopnav");
        if (x.className === "topnav") {
            x.className += " responsive";
        } else {
            x.className = "topnav";
        }
    }
</script>

<body>
    <div class="body1">
        <div class="se-pre-con"></div>
        <nav class="main-nav">
            <ul class="topnav" id="myTopnav">
                <li><a class="" href="{% url 'success:home' %}">Home</a></li>
                <li><a href="">BLOGS</a></li>
                {% if user.is_authenticated %}
                <li><a class="" href="#">Profile</a></li>
                {% else %}
                <li><a href="{% url 'success:contact_add' %}">Contact</a></li>{% endif %}
                <li>
                    <a href="{% url 'success:about_us' %}">About</a></li>
                {% if user.is_authenticated %}

                <li class="account "><a href="{% url 'success:logout' %} ">Logout</a></li>
                {% else %}
                <li class="account "><a href="{% url 'success:login' %} ">Login</a></li>{% endif %}
                <li class="icon ">
                    <a href="javascript:void(0); " onclick="myFunction() ">&#9776;</a>
                </li>
            </ul>
        </nav>

        <div class="about_content  about_vertical">
            <article>
                <header>
                    <title>Investing in Africa </title>
                    <h2> WHO WE ARE </h2>
                </header>
                <content>
                    <p> We believe in innovation and sales driving market strategies to boost sales and making positive changes to our society</p>

                    <h2> WHAT WE DO</h2>

                    <ol>
                        <li>
                            <h4>GET INVESTMENT FOR INNOVATIVE AFRICAN STARTUPS</h4>



                            <h4>(A) INNOVATIVE STARTSUPS MOSTLY IN SECTORS LIKE INFORMATION TECHONLOGY AND AGRICULTURE </h4>
                            <p> If you happen to be one of the fellows ,with a great innovative idea and a prototype ,or business but need financing .Join our platform today ,and you will be connected to angelic investors ready to help you make your dreams
                                come true</p>.


                        </li>
                        <li>
                            <h4> PRODUCT MARKETTING AND MARKET RESEARCH </h4>
                            <uL>
                                <li>
                                    <p> If you are a company looking for market in Africa ! We are here, to help you solve the mystery</p>
                                </li>

                                <li>
                                    <p> Are you An African company ,with the desire to get your product recognize globally .With our team ,your burden will be taken care by our specialise market driving team.</p>

                            </uL>
                            </li>
                    </ol>
                    <h2> GOAL </h2>

                    <p>To contribute in the development of Africa by encouraging and promoting entrepreneurship and marketing of products in and out of Africa</p>

                </content>
                <footer>
                    <p> If you are a start up or an investor
                        <span class="join">  <a href="{% url 'success:login' %} ">Join_us </a></span>
                    </p>

                </footer>
            </article>
        </div>

        <div class="about_members">
            <div class="members">
                <img src="{% static 'images/africa-political.gif' %}" arlt="Africa">
                <p>AFRICA</p>
                <div class="about_members">
                    <div class="members">
                        <img src="{% static 'images/world2.jpg' %}" arlt="The world">
                        <p>World</p>
                    </div>


</html>