{% load staticfiles %}

<!DOCTYPE html>
<html>
<header>

    <title>LEADING INVESTOR LOCATOR</title>
    <meta charset="utf-8">

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="{% static 'css/contact_us.css' %}">
    <link rel="stylesheet" href="{% static 'css/website.css' %}">
    <link rel="stylesheet" href="{% static 'css/header.css' %}">
    <link rel="stylesheet" href="{% static 'css/detail.css' %}">
    <link rel="stylesheet" href="{% static 'css/menu.css' %}">
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
    <link rel="stylesheet" href="{% static 'css/about_us.css' %}">
    <link rel="stylesheet" href="{% static 'css/footer.css' %}">
    <link rel="stylesheet" href="{% static 'css/gogetter_static_page/security.css' %}">
    <link rel='stylesheet' href="{% static 'css/articles_homepage.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.2/modernizr.js"></script>
    <script src="{% static 'script/javascript.js' %}">
    </script>
    <script>
    </script>
    <nav id='cssmenu'>
        <div class="logo"><a href="">GOGETTERBIZ</a></div>
        <div id="head-mobile"></div>
        <div class="button1"></div>
        <ul>
            <li><a href="{% url 'success:home' %}">HOME</a></li>
            <li><a href="{% url 'success:about_us' %}">ABOUT</a></li>

            <li><a href='#'>PRIORITIES</a>
                <ul>

                    <li>
                        <a href="{% url 'success:Security' %}">Security</a></li>
                    <li><a href="{% url 'success:Posibility' %}">Possiblities</a></li>
                    <li> <a href="{% url 'success:Partner' %}">Partnership</a></li>
                </ul>

            </li>
            <li><a href='#'>ONLINEMARKET</a>



                <li><a href='#'>BUSINESSTODAY</a></li>
                {% if user.is_authenticated %} {% else %}
                <li><a href='#'>CONTACT</a>
                    <ul>
                        <li><a href="{% url 'success:contact_add' %}">MarketingTeam</a></li>
                        <li><a href="{% url 'success:Partner' %}">Other</a></li>
                    </ul>
                </li>{% endif %}
                <li><a href='#'>GOGETTERITSOLUTION</a></li>
                {% if user.is_authenticated %} {% else %}`
                <li><a href='#'>LOGIN</a>

                    <ul>
                        <li><a href='#'>Investor</a></li>
                        <li><a href='#'>StartUp</a></li>
                        <li><a href="{% url 'success:login' %}">BUSINESSOPPORTUNIST</a></li> {% endif %}
                    </ul>

        </ul>

    </nav>

    <div class="sheild">

        <div class="unkown">
            <div class="pre">
                <p>
                    <div class="one">
                        <div class="button"> <a href="#products"><button>PRODUCTS</button></a></div>
                        <div class="button"><a href="#important"><button>IMPORTANT</button></a></div>
                    </div>
                </p><br>
                <div class="two">
                    <p>MAKING THE WORLD A GLOBAL BUSINESSHUB.</p>
                    <p> GETTING CONNECTED!</p>
                    <p> GETTING RECOGNISE GLOBALY</p>
                    <p>GET UPDATED </p>
                    <P> MARKET AND SELL YOUR PRODUCTS</P>
                    <p>GET FUNDED OR GET THE RIGHT VENTURES IN AFRICA</p>
                    <p> RELIABLE AND AFFORTABLE I.T SERVICES FOR YOUR BUSINESS</p>
                    <P> ALL IN ONE PLATFORM .INVESTOR ACCOUNT ,STARTUP ACCOUNT,BUSSINESSOPPORTUNIST ACCOUNT/OTHERS</P>
                </div>
            </div>
        </div>

    </div>

</header>


<body class="body ">
    <div class="body1 ">


        {% block content %} {% endblock %}

        <div class="news" id="products">
            <h4> NEWS</h4>
        </div>
        <footer class="footer1 ">
            <div class="footer ">
                <div class="section ">
                    <ul>

                        <h4> Our Platforms</h4>

                        <li><a href=" ">Investor And Startup Platform</a></li>
                        <li><a href=" ">BusinessOpportunist Platform</a></li>
                    </ul>
                </div>
                <div class="section ">
                    <ul>

                        <h4>Our Markets</h4>

                        <li> <a href=" ">Africa</a></li>
                        <li> <a href=" ">Global Market</a></li>
                    </ul>
                </div>
                <div class="section ">
                    <ul>

                        <h4>Website Powered by<a href=" "> : GogetterITSolution</a></h4>
                    </ul>
                </div>
                <div class="section ">
                    <ul>

                        <h4> Our Priorities</h4>

                        <li>
                            <a href="{% url 'success:Security' %} ">Security</a></li>
                        <li><a href="{% url 'success:Posibility' %} ">Possibilities</a></li>
                        <li> <a href="{% url 'success:Partner' %} ">Partnership</a></li>
                    </ul>
                </div>

                <div class="section ">
                    <ul>

                        <h4> Join Us On</h4>

                        <li>
                            <a href=" ">FaceBook</a></li>
                        <li><a href=" ">Twiter</a></li>
                        <li> <a href=" ">Instagram</a></li>
                    </ul>
                </div>


        </footer>

</body>



</html>