{% load staticfiles %}

<!DOCTYPE html>
<html>
<header>

    <title>LEADING INVESTOR LOCATOR</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'css/website.css' %}">
    <link rel="stylesheet" href="{% static 'css/header.css' %}">
    <link rel="stylesheet" href="{% static 'css/detail.css' %}">
    <link rel="stylesheet" href="{% static 'css/menu.css' %}">
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
    <link rel="stylesheet" href="{% static 'css/about_us.css' %}">
    <link rel="stylesheet" href="{% static 'css/footer.css' %}">
    <link rel='stylesheet' href="{% static 'css/articles_homepage.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.2/modernizr.js"></script>
    <script src="{% static 'script/javascript.js' %}">
    </script>
    <nav id='cssmenu'>
        <div class="logo"><a href="">GOGETTERS</a></div>
        <div id="head-mobile"></div>
        <div class="button"></div>
        <ul>
            <li><a href="{% url 'success:home' %}">HOME</a></li>
            <li><a href="{% url 'success:about_us' %}">ABOUT</a></li>
            <li><a href='#'>GOGETTER</a>
                <ul>
                    <li>
                        <a href='#'>FINANCE</a>
                        <ul>
                            <li><a href='#'>investors</a></li>
                            <li><a href='#'>Startups</a></li>
                        </ul>
                    </li>
                    <li><a href='#'>BusinessOpportunist</a>

                    </li>
                </ul>
            </li>
            <li><a href='#'>MARKET</a>
                <ul>
                    <li><a href='#'>Africa</a></li>
                    <li><a href='#'>Global</a></li>
                </ul>

            </li>
            <li><a href='#'>OnlineMarket</a>



                <li><a href='#'>BUSINESSTODAY</a></li>
                {% if user.is_authenticated %} {% else %}
                <li><a href='#'>CONTACT</a>
                    <ul>
                        <li><a href="{% url 'success:contact_add' %}">MarketingTeam</a></li>
                        <li><a href='#'>Other</a></li>
                    </ul>
                </li>{% endif %}
                <li><a href='#'>GOGETTERITSOLUTION</a></li>
                {% if user.is_authenticated %} {% else %}
                <li><a href='#'>LOGIN</a>

                    <ul>
                        <li><a href='#'>Investor</a></li>
                        <li><a href='#'>StartUp</a></li>
                        <li><a href="{% url 'success:login' %}">BUSINESSOPPORTUNIST</a></li> {% endif %}
                    </ul>

        </ul>

    </nav>






</header>


<body>
    <div class="body1">


        {% block content %} {% endblock %}
        <div class="news">
            <h4> NEWS</h4>
        </div>
        <footer class="footer1">
            <div class="footer">
                <div class="section">
                    <ul>

                        <h4> Our Platforms</h4>

                        <li><a href="">Investor And Startup Platform</a></li>
                        <li><a href="">BusinessOpportunist Platform</a></li>
                    </ul>
                </div>
                <div class="section">
                    <ul>

                        <h4>Our Markets</h4>

                        <li> <a href="">Africa</a></li>
                        <li> <a href="">Global Market</a></li>
                    </ul>
                </div>
                <div class="section">
                    <ul>

                        <h4>Website Powered by<a href=""> : GogetterITSolution</a></h4>
                    </ul>
                </div>
                <div class="section">
                    <ul>

                        <h4> Our Missions</h4>

                        <li>
                            <a href="">Security</a></li>
                        <li><a href="">Possiblities</a></li>
                        <li> <a href="">Partnership</a></li>
                    </ul>
                </div>

                <div class="section">
                    <ul>

                        <h4> Join Us On</h4>

                        <li>
                            <a href="">FaceBook</a></li>
                        <li><a href="">Twiter</a></li>
                        <li> <a href="">Instagram</a></li>
                    </ul>
                </div>


        </footer>

</body>



</html>