 {% extends 'success/base1.html' %}{% block content %} {% load staticfiles %}


<article>

    <title>{{ object.article_title }}</title>

    <div class="detail-container">
        <content>
            <div class="article-img">
                <img src=" {{ object.article_album.url}}">
            </div>
            <h4> {{ object.article_title }}</h4>
            <div class="art-auth">
                <img src="{{ object.author_pic.url }}">
                <p> {{ object.author }}</p>
            </div>
            <div class="art-content">
                <p>{{ object.article_content }}</p>
            </div>
            <div class="art-publish">Publish:{{ object.pulished_date }}</div>

        </content>
    </div>
</article>


</html>
{% endblock content %}>